<div class="row row-cols-1 row-cols-md-3 g-4 ">
  <div class="col animate__animated animate__fadeIn"
    *ngFor="let gif of resultados">
    <div class="card">
      <img [src]="gif.images.downsized_medium.url"
        class="card-img-top"
        [alt]="gif.title" />
      <div class="card-body">
        <h5 class="card-title">{{ gif.title }}</h5>
      </div>
    </div>
  </div>
</div>


<!-- <div class="row g-4">
  <div *ngFor="let gif of resultados"
    class="col-md-4 col-sm-6">
    <div class="card-top">
      <img [src]="gif.images.preview_gif.url"
        class="card-img-top"
        [alt]="gif.title" />
      <div class="card-body">
        <p class="card-text">
          {{ gif.title }}
        </p>
      </div>
    </div>
  </div>
</div> -->
