<div class="d-flex">

  <!-- Start Sidebar -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
      Gifs-App
    </h3>
    <hr class="text-light">
    <div class="list-group">
      <a href="#" class="list-group-item group-item-action">Dashboard</a>
    </div>
  </div>
  <!-- End Sidebar -->

  <div class="container">

    <div class="row p-3">
      <div class="col">
        <h3>Buscar:</h3>
        <input type="text" name="" id="" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>
    <hr>
    <div class="row p-3">
      <div class="col">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, perspiciatis illo! Enim repellendus
          temporibus blanditiis quasi similique, consequatur voluptas eos quam architecto atque, fuga illo incidunt
          nesciunt amet necessitatibus doloremque.</p>
      </div>
    </div>

  </div>

</div>
